<main>
    <h4>Consulta - País</h4>    
    
    <table class="table">
        <thead>
            <th scope="col">ID</th>
            <th scope="col">Nome</th> 
            <th scope="col">Ações</th>           
        </thead>
        <tbody>
            <tr *ngFor="let pais of paises">
                <td>{{pais.id}}</td>
                <td>{{pais.nome}}</td>
                <td>
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#updateModal" (click)="preencherForm(pais)">Atualizar</button>
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#deleteModal"  (click)="preencherForm(pais)" style="margin-left: 5px;" >Deletar</button>
                </td>
            </tr>
        </tbody>
    </table>   
  
    <!-- Modal Atualizar-->
    <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateModalLabel">Atualizar País</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" [formGroup]="formPais">
                        <div class="form-group"> 
                            <div class="col-sm-12">
                                <label for="nome" class="control-label">Nome: </label>                           
                                <input type="text" class="form-control" formControlName="nome" 
                                  id="nome">
                            </div>        
                        </div> 
                    </form>    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-secondary" (click)="updatePais(formPais)" >Salvar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Delete-->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Deletar País</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">                    
                        <p>Tem certeza que deseja deletar este item? </p>           
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-secondary" (click)="deletePais(formPais)">Deletar</button>
                </div>
            </div>
        </div>
    </div>

</main>
