<main>
    <h4>Consulta - Prova</h4>

    <table class="table">
        <thead>
            <th scope="col">ID</th>
            <th scope="col">Nome</th> 
            <th scope="col">Gênero</th> 
            <th scope="col">Tipo</th> 
            <th scope="col">Premiação</th> 
            <th scope="col">Sport</th> 
            <th scope="col">Ações</th>           
        </thead>
        <tbody>
            <tr *ngFor="let prova of provas">
                <td>{{ prova.id }}</td>
                <td>{{ prova.nome }}</td>
                <td>{{ prova.genero }}</td>
                <td>{{ prova.tipo }}</td>
                <td >{{ prova.premiacao }}</td>                
                <td>{{ prova.sport.nome }}</td>
                <td>
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="onAtualizar(prova)">Atualizar</button>
                    <button class="btn btn-secondary" (click)="deleteProva(prova)" style="margin-left: 5px;">Deletar</button>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Atualizar Prova</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" [formGroup]="formProva">
                        <div class="form-group"> 
                            <div class="col-sm-12">
                                <label for="nome" class="control-label">Nome: </label>                           
                                <input type="text" class="form-control" formControlName="nome" 
                                  id="nome">
                                <label for="nome" class="control-label">Gênero: </label>                           
                                <input type="text" class="form-control" formControlName="genero" 
                                  id="nome">
                                <label for="nome" class="control-label">Tipo: </label>                           
                                <input type="text" class="form-control" formControlName="tipo" 
                                  id="nome">
                                <label for="nome" class="control-label">Premiação: </label>                           
                                <input type="text" class="form-control" formControlName="premiacao" 
                                    id="nome">
                                <div class="formGroup" formGroupName="sport">
                                    <label for="nome" class="control-label">Sport: </label>                           
                                    <input type="text" class="form-control" formControlName="nome" 
                                        id="nome">
                                </div>
                            </div>        
                        </div> 
                    </form>    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-secondary" (click)="updateProva(formProva)" >Salvar</button>
                </div>
            </div>
        </div>
    </div>

</main>
